<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue</title>
    </head>

    <script src="https://unpkg.com/vue@next"></script>

    <body>
        <div id="app">
            <div>
                <h1 v-if="awesome">Vue is awesome!</h1>
                <h1 v-else>哈哈哈哈</h1>
                <p></p>
                <button @click="awesomeClick">点我试试看</button>
            </div>
            <p></p>

            <div>
                <template v-if="templateAwesome">
                    <h1>Title</h1>
                    <p>Paragraph 1</p>
                    <p>Paragraph 2</p>
                </template>
                <button @click="templateAwesomeClick">点我试试看2</button>
            </div>
            <p></p>

            <!-- v-else 元素必须紧跟在带 v-if 或者 v-else-if 的元素的后面，否则它将不会被识别。-->
            <div>
                <div v-if="random > 0.5">
                    Now you see me
                </div>
                <div v-else>
                    now you don't
                </div>
                <button @click="randomClick">点我试试看3</button>
            </div>
            <p></p>

            <!--
                与 v-else 的用法类似，v-else-if 也必须紧跟在带 v-if 或者 v-else-if 的元素之后。
            -->
            <div>
                <div v-if="random2 < 0.3">
                    random2大于0,小于0.3,值等于={{ random2 }}
                </div>
                <div v-else-if="random2 < 0.6">
                    random2大于0.3,小于0.6,值等于={{ random2 }}
                </div>
                <div v-else>
                    random2值大于0.6,值等于={{ random2 }}
                </div>
                <button @click="randomClick2">点我试试看4</button>
            </div>


        </div>
    </body>

    <script type="module">
        Vue.createApp({
            data() {
                return {
                    awesome: true,
                    templateAwesome: false,
                    random: 0,
                    random2: 0
                }
            },
            methods: {
                awesomeClick() {
                    this.awesome = !this.awesome;
                },
                templateAwesomeClick() {
                    this.templateAwesome = !this.templateAwesome;
                },
                randomClick() {
                    this.random = Math.random();
                    console.log('random: ' + this.random);
                },
                randomClick2() {
                    this.random2 = Math.random();
                    console.log('random2: ' + this.random2);
                },
            }
        }).mount('#app');
    </script>

</html>